<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="header" onclick="javascript:navigate('/')">
        <nav>
            <ul id="menu">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("UF", "Index", "Uf")
                </li>
                <li>
                    @Html.ActionLink("Cidade", "Index", "Cidade")
                </li>
            </ul>
        </nav>
    </div>

    @RenderBody()

    <div id="footer"><a href="http://50minutos.com.br" target="_blank">50minutos</a> &middot; by Agnaldo</div>
</body>
</html>
