@model _001_View.Models.Cidade

@{
    ViewBag.Title = "Exclusão de cidade";
}

<div id="content-form">
    <h1>@ViewBag.Title</h1>
    <h3>Quer excluir, realmente?</h3>
    <table>
        <tbody>
            <tr>
                <th>@Html.LabelFor(model => model.Nome)</th>
                <td>
                    @Html.DisplayFor(model => model.Nome)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.UF.Nome)</th>
                <td>
                    @Html.DisplayFor(model => model.UF.Nome)
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <p id="action">
            @Html.ActionLink(HttpUtility.HtmlDecode("&#x25c4;"), "Index", null, new { title = "voltar" })
            <input type="submit" value="&#x2714;" title="confirmar" />
        </p>
    }
</div>
